<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Datumsrechner</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="onSegmentButtonGeaendert($event)" value="plusMinus">
      <ion-segment-button value="plusMinus">
        <ion-label>Plus/Minus Tage</ion-label>
      </ion-segment-button>
      <ion-segment-button value="differenz">
        <ion-label>Differenz</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-item>
      <ion-label>{{_datumPicker1Label}}</ion-label>
      <ion-datetime display-format="DD MMM YYYY (DDDD)"
                     picker-format="DD.MM.YYYY"
                      presentation="date"
                       [(ngModel)]="_datumPicker1">
      </ion-datetime>
    </ion-item>

    <ion-item *ngIf="!_plusMinusModus">
      <ion-label>Datum 2</ion-label>
      <ion-datetime display-format="DD MMM YYYY (DDDD)"
                     picker-format="DD.MM.YYYY"
                      presentation="date"
                       [(ngModel)]="_datumPicker2">
      </ion-datetime>
    </ion-item>

    <ion-item *ngIf="_plusMinusModus">
      <ion-label>Tage plus/minus:&nbsp;</ion-label>
      <ion-input type="number" [(ngModel)]="_plusMinusTage"></ion-input>
    </ion-item>

  </ion-list>

  <ion-button expand="block"
              (click)="onBerechnungButton()">Berechnen</ion-button>

</ion-content>